{% extends 'base.html' %}

{% block mainContent %}

{% block jumbo %}{% endblock %} <!--exclude the jumbotron-->

<!-- "game" is a single entry from the database that the use has chosen -->

<div class="container">

<div class="row">
<h4 class="main_title_text">{{ game.title }}</h4>
</div>

<div class="row">
<img src="{{ game.screenshot1 }}" alt="asdf">
</div>

<div class="row">
<div class="col-sm">
<h4 class="smaller_text">Genre: {{ game.genre }}</h4>
</div>
<div class="col-sm">
<h4 class="smaller_text">Developer: {{ game.developer }}</h4>
</div>
</div>

<div class="row">
<a href="{{ game.link }}">Play {{ game.title }}</a>
</div>

<div class="row">
<h4 class="smaller_text">{{ game.description }}</h4>
</div>

<div class="row">
<div class="col-sm">
<img src="{{ game.screenshot2 }}" alt="asdf">
</div>
<div class="col-sm">
<img src="{{ game.screenshot3 }}" alt="asdf">
</div>
</div>

<a class="btn btn-primary" href="{{ url_for('edit', gameName=game.title) }}">Edit</a>

</div>

{% endblock %}